name: Release
on:
  push:
    tags:
      - '*'
permissions: read-all
jobs:
  push:
    name: Push gem to RubyGems.org
    runs-on: ubuntu-latest
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
      contents: write # IMPORTANT: this permission is required for `rake release` to push the release tag
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0
          ref: master
          persist-credentials: true
      - uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25
        with:
          bundler-cache: true
          ruby-version: ruby
      - uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b
