name: Analyze
on:
  push:
permissions: read-all
jobs:
  Scorecard:
    if: github.ref_name == github.event.repository.default_branch
    environment: staging
    runs-on: ubuntu-latest
    permissions:
      security-events: write # to upload the results to code-scanning dashboard
      id-token: write        # to publish_results and get a badge
    steps:
    - uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        publish_results: true
        results_file: results.sarif
        results_format: sarif
    - uses: github/codeql-action/upload-sarif@16140ae1a102900babc80a33c44059580f687047
      with:
        sarif_file: results.sarif
