name: Test
on:
  push:
permissions:
  contents: read
  id-token: write
jobs:
  test:
    environment: staging
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby-version }}
    strategy:
      matrix:
        ruby-version: [3.1, 3.2, 3.3]
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
    - uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # 'bundle install' and cache
    - run: bundle exec rake
      env:
        GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
    - uses: qltysh/qlty-action/coverage@a19242102d17e497f437d7466aa01b528537e899
      with:
        oidc: true
        files: coverage/lcov.info
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - run: bundle exec rubocop
    - run: bundle exec inch --pedantic
